.input-holder{
    padding-top:10px;
    margin-bottom: 10px;
    text-align: left;
}
.input-holder label{
    display: block;
    color:#fff;
    padding-bottom:10px;
}

.input-holder input{
    height:30px;
    width:100%;
    padding-left:10px;
}

.input-holder input.valid.touched{
   border:2px#33FF8A solid;
}

.input-holder input.invalid.touched{
    border:2px #FF3333 solid;
}